html {
  box-sizing: border-box;
}

body {
  background-color: #6c584c;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: xx-large;
  font-style: normal;
}
